<%# TODO: Add code for product index page here %>
<div class="d-flex catalog-header display-2 h-100-px text-center">
	<h1>The&nbsp;World&apos;s&nbsp;Best Gifts for&nbsp;Men</h1>
</div>
<div class="container catalog">
	<div class="row">
		<% @products.each do |prod| %>
			<div class="col-md-6 px-0 px-md-2">
				<div class="product">
					<img class="img-fluid" src="<%= url_for(prod.photo) %>" alt="Product photo">
					<h2><%= prod.name %></h2>
					<div class="clearfix border-bottom">
						<p class="float-left">&dollar;<%= prod.price %></p>
						<p class="float-right"><%= prod.quantity %></p>
					</div>
					<p><%= prod.description %></p>
					<div class="btn btn-primary product-btn">
						<%= link_to "Buy This Product", new_order_path(product_id: prod) %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
