<%# TODO: Add code for product index page here %>
<div class="d-flex catalog-header display-2 h-100-px text-center">
	<h1>The&nbsp;World&apos;s&nbsp;Best Gifts for&nbsp;Men</h1>
</div>
<div class="container catalog">
	<div class="row">
		<% @products.each do |prod| %>
			<div class="col-md-6 px-0 px-md-2">
				<div class="product mb-2 pb-1 pb-md-0">
					<img class="img-fluid" src="<%= url_for(prod.photo) %>" alt="Product photo">
					<h2><%= prod.name %></h2>
					<div class="clearfix border-bottom pr-3 pl-3 pt-1 pb-1">
						<p class="product-price float-left">&dollar;<%= prod.price %></p>
						<p class="product-quantity float-right rounded"><%= prod.quantity %> in stock</p>
					</div>
					<div class="product-description p-3">
						<p><%= prod.description %></p>
					</div>
					<div class="btn btn-primary product-btn d-flex justify-content-center rounded-0 border-0 m-3 m-md-0">
						<%= link_to "Buy This Product", new_order_path(product_id: prod) %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
